@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* custom props */
:root {
    --heading-color:#444;
    --text-color: #999;
    --primary-color: #835ee7;
    --bg-color: #f4f4f4;
}

html {
    font-size: 62.5%;
}

*,*::before,*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    background: var(--bg-color);
}

.footer {
    text-align: center;
    line-height: 2;
    font-size: 1.3rem;
    padding: 3.5rem 0;
}

.dark_footer {
    color:#444;
}
.light_footer {
    color: #e4dbff;
}