<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/avatar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/button.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/navbar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sidebar.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scribs-list.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scribs-filter.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scrib.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/users-list.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.min.js" async integrity="sha512-RUkwGPgBmjCwqXpCRzpPPmGl0LSFp9v5wXtmG41+OS8vnmXybQX5qiG5adrIhtO03irWCXl+z0Jrst6qeaLDtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
    <title>Scribcraft! - {% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>