{% from 'components/macros.html' import avatar %}

<div class="sidebar">
    <div class="sidebar-content">
        <div class="user">
            {{ avatar(g.user.image_url) }}
            <p>Hi, <span id="logged-in-user">{{g.user.username}}</span>!</p>
        </div>
        <nav class="links">
            <ul>
                <li>
                    <a href="{{url_for('root')}}">
                        <img src="{{url_for('static', filename='images/dashboard_icon.svg')}}" alt="dashboard icon">
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/users">
                        <img src="{{url_for('static', filename='images/users_icon.svg')}}" alt="users icon">
                        <span>Users</span>
                    </a>
                </li>
                <li>
                    <a href="/create-scrib">
                        <img src="{{url_for('static', filename='images/add_icon.svg')}}" alt="add new content icon">
                        <span>Create scrib</span>
                    </a>
                </li>
                <li>
                    <a href="/create-scrib">
                        <img src="{{url_for('static', filename='images/user_icon.svg')}}" alt="user icon">
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>