{% extends './anon-home.html' %}

{% block title %}Login{% endblock %}

{% block form %}
    <form method="POST" class="auth-form">
        <h2 class="form-heading">Login!</h2>
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
            <label class="form-label">
                <span class="form-span">{{field.label.text}}</span>
                {{ field(class="form-input") }}
            </label>
        {% endfor %}
        <button type="submit" class="btn form-btn">Login!</button>
    </form>
{% endblock %}
