{% extends './home.html' %}

{% block title %}Edit profile:{{user.username}}{% endblock %}

{% block center_pane %}
    <div class="edit-form-container">
        <form method="POST" class="auth-form">
            <h2 class="form-heading">Update info</h2>
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                <label class="form-label">
                    <span class="form-span">{{field.label.text}}</span>
                    {{ field(class="form-input") }}
                </label>
            {% endfor %}
            <button type="submit" class="btn form-btn">Update!</button>
        </form>
    </div>
{% endblock %}